/* General Styles */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Nav Styles */
nav {
    font-family: 'Geist', sans-serif;
    display: flex;
    background-color: #a39b83;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

nav p,
nav a {
    font-family: 'Geist', sans-serif;
    font-size: 1.25em;
    margin: 0px;
}

nav a {
    color: darkcyan;
    text-decoration: none;
}

nav a:hover {
    color: darkgreen;
}


/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    background-color: #a39b83;
    padding: 20px;
    border-top: 3px solid black;
}

footer p {
    font-family: 'Geist', sans-serif;
    font-size: 1.25em;
}

footer a {
    font-family: 'Geist', sans-serif;
    font-size: 1.5em;
    color: darkcyan;
    text-decoration: none;
}

footer a:hover {
    color: darkgreen;
}


/* Splash Section */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dedddd;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.splash h1 {
    font-family: 'Yatra One', sans-serif;
    color: darkcyan;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.splash img {
    border-radius: 50%;
    height: auto;
    width: 300px;
    margin-bottom: 20px;
}

.splash address {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
}

.splash p {
    font-family: 'Geist', sans-serif;
    text-align: center;
    font-size: 1.25em;
    max-width: 80%;
}


/* Horizontal Rules */
hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
    margin: 0;
}


/* Sections */
section {
    padding: 50px;
}

.honors {
    background-color: #dedddd;
}

.experience {
    background-color: #dedddd;

}


/* Section Headings */
section h2 {
    font-family: 'Baskervville', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

section h4 {
    font-family: 'Arvo', sans-serif;
    font-size: 1em;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
}

/* Paragraph Styles */
section p {
    font-family: 'Geist', sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}


/* link styles */
section a {
    color: darkcyan;
    text-decoration: none;
}

section a:hover {
    color: darkgreen;
}


/* List styles */
ul {
    font-family: 'Geist', sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Geist', sans-serif;
    font-size: 1em;
    margin: 0 auto 20px auto;
    text-align: center;
}

dl dt,
dl dd {
    text-align: center;
}

dl dt {
    font-weight: bold;
    font-family: 'Arvo', sans-serif;
    margin-bottom: 5px;
}

dl dd {
    font-style: italic;
    margin-bottom: 15px;
    margin: 0;
}


/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.card h3 {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.card li {
    font-family: 'Geist', sans-serif;
    text-align: left;
    font-size: 1em;
    margin-bottom: 5px;
}

.card ul {
    padding-right: 20px;
}


/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-col h1 {
    font-family: 'Yatra One', sans-serif;
    font-size: 3.5em;
    margin-bottom: 20px;
}

.one-col p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-bottom: 50px;
    text-align: center;
}



.one-col input,
.one-col textarea,
.one-col form,
.one-col button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Geist', sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-radius: 5px;
}

.one-col button:hover {
    background-color: lightgray;
}

/* Thank You Page Styles */
.thank-you {
    text-align: center;
}

.thank-you h1 {
    font-family: 'Yatra One', sans-serif;
    font-size: 3.5em;
}

.thank-you p {
    font-family: 'Geist', sans-serif;
    font-size: 1.5em;
}

.thank-you a {
    font-family: 'Geist', sans-serif;
    font-size: 2em;

}

/* Media queries for smaller screens */
@media (max-width: 600px) {
    .splash h1 {
        font-size: 2.5em;
    }

    .splash address {
        font-size: 1.5em;
    }

    .splash p {
        font-size: 1.2em;
    }
}